<div class="group-bubbles-container">
    <button class="group-post" id="group-post">
        <img class="group-image" src={{GroupPhoto}} />
        <a class="group-name">{{GroupName}}</a>
    </button>
</div>
