<div class="group-bubbles-container">
    <a href="{{url}}" class="group-post" id="group-post">
        <img class="group-image" src={{GroupPhoto}} />
        <p class="group-name">{{GroupName}}</p>
    </a>
</div>
