<footer class="text-input-box">
    <div class="footer-image-container-size">
        <div class="footer-image-container">
            <img class="footer-image" src= "https://cdn4.iconfinder.com/data/icons/rounded-white-basic-ui/139/Profile01-RoundedWhite-512.png" />
        </div>
    </div>
    <input id="text-input" placeholder="Type Here..." />
    <button id="post-button">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </button>
</footer>
