<div class="footer-image-container-size">
    <div class="footer-image-container">
        <img class="footer-image" src= "https://s-media-cache-ak0.pinimg.com/236x/f8/2f/59/f82f5916dfb1370c8375654408fdc450.jpg" />
    </div>
</div>
<input id="text-input" placeholder="Type Here..." />
<button id="post-button">
    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
</button>
