<header>
    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem navlink"><a href="#"><h1 class="site-title"><i class="fa fa-users" aria-hidden="true"></i> 290 Final</h1></a></li>
            <li class="navitem navlink"><a href="#">People</a></li>
            <li class="navitem navlink"><a href="#">Groups</a></li>

            <li class="navitem check-in-button"><button id="check-in-button"> <i class="fa fa-id-badge" aria-hidden="true"></i> Check In</button></li>

            <li class="navitem-hidden name-button"><button id="name-button"><i class="fa fa-user-circle" aria-hidden="true"></i></button></li>
        </ul>
    </nav>
</header>