<div id="empty-space"></div>
	<div id="login-modal">
	<div class="modal-dialog">

		<div class="modal-header">
			<h1>Login</h1>
		</div>

		<div class="modal-body">
			<div class="login-input-element">
				<label for="login-account-input">Account</label>
				<input type="text" id="login-account-input">
			</div>
			<div class="login-input-element">
				<label for="login-password-input">Password</label>
				<input type="password" id="login-password-input">
			</div>
		</div>

		<div class="modal-footer">
			<button type="button" class="modal-login-button">Login</button>
			<button type="button" class="modal-create-account-button">Create Account</button>
		</div>

	</div>
</div>