<article class="user-post">
    <div class="image-container-size">
        <div class="image-container">
            <img class="image-source" src="https://cdn4.iconfinder.com/data/icons/rounded-white-basic-ui/139/Profile01-RoundedWhite-512.png" />
        </div>
    </div>
    <div class="user-name">
        <h5>{{user}}</h5>
    </div>
    <p class="user-text">{{text}}</p>
</article>
