<article class="user-post">
    <div class="image-container-size">
        <div class="image-container">
            <img class="image-source" src="https://s-media-cache-ak0.pinimg.com/236x/f8/2f/59/f82f5916dfb1370c8375654408fdc450.jpg" />
        </div>
    </div>
    <div class="user-name">
        <h5>{{user}}</h5>
    </div>
    <p class="user-text">{{text}}</p>
</article>
