    <article class="user-post">
        <div class="image-container-size">
            <div class="image-container">
                <img class="image-source" src={{photo}} />
            </div>
        </div>
        <div class="user-name">
            <h5>{{user}}</h5>
        </div>
        <p class="user-text">{{text}}</p>    
    </article>
