<header>
	<nav class="navbar">
		<ul class="navlist">
			<li class= "navitem navlink"><a href="/"><h1 class="site-title"><i class="fa fa-users" aria-hidden="true"></i> 290 Final</h1></a></li>
			<li class="navitem navlink"><a href="/people">People</a></li>
			<li class="navitem navlink"><a href="/groups">Groups</a></li>
			<li class="navitem login-button"><a href="/accounts/login"><i class="fa fa-id-badge" aria-hidden="true"></i>Log In</a></li>
		</ul>
	</nav>
</header>