
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: rgba(19, 41, 58, 0.76);
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:focus {
  color: #ff7300;
}

p {
    margin: 0px 0px 5px;
}

h5 {
    margin: 0px;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: #13293a;
  color: #fff;
}

.site-title:hover{
    color: #ff7300;
}

.navbar {
  background-color: #13293a;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.login-button {
    margin-top: 20px;
    float: right;
    padding-right: 20px;
    padding-top: 5px;
}

.user-post {
    margin-top: 20px;
    margin-left: 5%;
    max-width: 70%;
    border-top: 2px solid #ff7300;
    min-height: 70px;
}

.user-image-container {
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #13293a;
}

.user-image {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
}

.user-image-container-size {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.user-name {
    margin-top: 5px;
    margin-bottom:5px;
}

.text-input-element {
    padding-left: 5%;
    margin-bottom: 50px;
}

#text-input {
    width: 75%;
    background-color: rgb(157, 165, 171);
    border: 1px solid rgba(19, 41, 58, 0);
}

#text-input::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgba(19, 41, 58, 0.76);
}

#text-input:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgba(19, 41, 58, 0.76);
}

#text-input:-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgba(19, 41, 58, 0.76);
}

#text-input::-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgba(19, 41, 58, 0.76);
}

.headtitle {
    text-align: left;
    font-size: 30px;
    font-weight: 900;
    margin: inherit;
    display: inline-flex;
}

#login-input {
    width: 300px;
    display: inline-flex;
    background-color: rgb(157, 165, 171);
    border: 2px solid rgba(0,0,0,.25);
    padding: 15px;
}

.login-info{
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: left;
    padding: 0px;
    /*margin: 0px 0px 0px 30px;*/
}

.litext {
    margin: 10px 5px 10px 0px;
    display: flex;
}
.login-item {
    display: inline-flex;
    flex-direction: column;
    padding: 0px 0px 10px 0px;
    float: left;
}
.make-container {
    display: inline-block;
    position: relative;
    width: 500px;
    background-color: rgb(220,220,220);
    padding: 50px 20px 50px 20px;
    margin: 20px 0px 0px 33%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0,0,0,.25);
}
.create-buttons {
    position: absolute;
    bottom: 20px;
}
.confirm-button {
    background: rgb(157, 165, 171);
    border: 2px solid rgba(0,0,0,.25);
    border-radius: 5px;
    width: 120px;
    height: 30px;
}
.cancel-create {
    background: rgb(157, 165, 171);
    border: 2px solid rgba(0,0,0,.25);
    border-radius: 5px;
    width: 120px;
    height: 30px;
}
.confirm-button:hover {
    background: rgba(19, 41, 58, 0.76);
}
.cancel-create:hover {
    background: rgba(19, 41, 58, 0.76);
}
