body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #74828f;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:focus {
  color: #c25b56;
}

p {
    margin: 0px 0px 5px;
}

h5 {
    margin: 0px;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  color: #fff;
}

.site-title:hover{
    color: #c25b56;
}

.navbar {
  background-color: #393b46;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.login-button {
    margin-top: 20px;
    float: right;
    padding-right: 20px;
    padding-top: 5px;
}

.user-post {
    margin-top: 20px;
    margin-left: 5%;
    max-width: 75%;
    border-top: 2px solid #c25b56;
    min-height: 70px;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #393b46;
}

.image-source {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
}

.image-container-size {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.user-name {
    margin-top: 5px;
    margin-bottom:5px;
}

.text-input-box {
    display: block;
    width: 75%;
    height: 50px;
    margin: 0px;
    position: fixed;
    bottom: 0px;
    left: 5%;
    background-color: #393b46;
}

.user-image-container {
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #74828f;
    margin-bottom: 0px;
}

.user-image {
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
}

.user-image-container-size {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 5%;
}

#text-input {
    width: 85%;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #74828f;
    border: 1px solid #393b46;
}

.text-input-element {
    margin: 0;
}

#text-input::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgba(19, 41, 58, 0.76);
}

#text-input:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgba(19, 41, 58, 0.76);
}

#text-input:-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgba(19, 41, 58, 0.76);
}

#text-input::-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgba(19, 41, 58, 0.76);
}

#post-button {
    float: right;
    height: 50px;
    width: 5%;
}
