body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #BEB9B5;
  overflow: hidden;
}

hidden {
	display: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:focus {
  color: #c25b56;
}

p {
    margin: 0px 0px 5px;
}

h5 {
    margin: 0px;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  color: #fff;
}

.site-title:hover{
    color: #c25b56;
}

.navbar {
  background-color: #393b46;
  font-size: 18px;
  line-height: 22px;
  height: 10%;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.login-button {
    margin-top: 20px;
    float: right;
    padding-right: 20px;
    padding-top: 5px;
}

.scroll-box {
    flex: auto;
    overflow-y: auto;

    width: 90%;
    max-height: 100%;
    bottom: 50px;
    top: 66px;
    position: absolute;
}

.user-post {
    margin-top: 20px;
    margin-left: 5%;
    max-width: 85%;
    border-top: 2px solid #c25b56;
    min-height: 70px;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #393b46;
}

.image-source {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
}

.image-container-size {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.user-name {
    margin-top: 5px;
    margin-bottom:5px;
}

.text-input-box {
    /*border: 2px solid #74828f;*/
    display: flex;
    width: 90%;
    margin: 0px;
    position: absolute;
    bottom: 0px;
    float: left;
    background-color: #393b46;
}

.footer-image-container-size {
    float: left;
    margin: 3px
}

.footer-image-container {
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #74828f;
    margin-bottom: 0px;
}

.footer-image {
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
}

#text-input {
    flex: auto;
    overflow: scroll;
    max-width: none;
    /*height: 48px;*/
    margin: 0px;
    background-color: #393b46;
    border: none;
    border-left: 2px solid #525564;
    border-right: 2px solid #525564;
}

#text-input:focus {
    background-color: inherit;
    outline: none;
    color: #c25b56;
}

/*.text-input-element {
    margin: 0;
}*/

#text-input::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  color: #c25b56  ;
}
/*
#text-input:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgba(19, 41, 58, 0.76);
}

#text-input:-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgba(19, 41, 58, 0.76);
}

#text-input::-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgba(19, 41, 58, 0.76);
}
*/
#post-button {
    border: none;
    border-right: 2px solid #525564;
    float: right;
    background: none;
    font-size: xx-large;
    color: #c25b56;
    height: 50px;
    width: 50px;
}

#post-button:hover {
  color: white;
}

#post-button:focus {
  outline: none;
}

.groups-sidebar {
    float: right;
    position: absolute;
    top: 66px;
    right: 0px;
    display: block;
    background-color: #393b46;
    width: 10%;
    height: 95%;
    margin: 0px;
}



/*The login.html */
#empty-space {

}
#login-modal {
	position: fixed;
	top: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1010;
	overflow: scroll;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #393b46;

}

.modal-header {
  position: relative;
  padding: 10px 20px;
  color: #fff;
}

.modal-header h1 {
	margin: 0;
	font-size: 34px;
}

.modal-body {
  padding: 20px;
}

.login-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.login-input-element label {
  font-weight: 600;
  flex: 1 85px;
  margin-right: 10px;
  color: #fff;
}

.login-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-login-button:hover {
  background-color: #c25b56;
  color: #fff;
}

/* */
