<!DOCTYPE HTML>
<html>
    <head>

        <meta charset="utf-8" />
        <title>290 Final</title>

        <!-- This is a stylesheet that includes the font you should use -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <!-- This is a 3rd-party stylesheet for Font Awesome: http://fontawesome.io/ -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">

        <link rel="stylesheet" href="/style.css" media="screen">

    </head>

<body>
    {{{body}}}
    <aside class="groups-sidebar">

        <div class="group-bubbles-container">
            <button class="group-post">
                <div class="group-bubble">
                    <img class="group-image" src="#" />
                </div>
                <div class="group-name">
                    <h4>Name of Group</h4>
                </div>
            </button>
        </div>

    </aside>

    <footer class="text-input-box">
        <div class="footer-image-container-size">
            <div class="footer-image-container">
                <img class="footer-image" src="https://s-media-cache-ak0.pinimg.com/736x/2f/b7/dc/2fb7dc3e5cb7b12b454aa1bfdf45573f.jpg" />
            </div>
        </div>
        <input id="text-input" placeholder="Type Here..." />
        <button id="post-button">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </button>
    </footer>
</body>

</html>