{{> header}}

<main class="scroll-box">
    {{#each Epost}}
        {{> post}}
    {{/each}}
</main>

<aside>
    {{#each Egroup}}
        {{> group}}
    {{/each}}
</aside>

<footer>
    {{> footer}}
</footer>