{{> header}}

<main class="scroll-box">
    {{#each groupPost}}
        {{> post}}
    {{/each}}
</main>

<aside class="groups-sidebar">
    <div class="group-bubbles-container">
            {{#each groupInfo}}
                {{> aside}}
            {{/each}}
        </div>
</aside>

<footer class="text-input-box">
    {{> footer}}
</footer>