{{> header}}

<main class="scroll-box">
    {{#each groupPost}}
        {{> post}}
    {{/each}}
</main>

<aside>
    {{#each groupInfo}}
        {{> aside}}
    {{/each}}
</aside>

<footer>
    {{> footer}}
</footer>