<!DOCTYPE HTML>
<html>
    <head>

        <meta charset="utf-8" />
        <title>290 Final</title>

        <!-- This is a stylesheet that includes the font you should use -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <!-- This is a 3rd-party stylesheet for Font Awesome: http://fontawesome.io/ -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">

        <link rel="stylesheet" href="/style.css" media="screen">

    </head>

<body>
    {{{body}}}
</body>

</html>